<section id="contact">
  <div class="container">
    <h2>Let’s Connect 💕</h2>

    <div class="contact-card">
      <form>
        <input type="text" placeholder="Your Name" required />
        <input type="email" placeholder="Your Email" required />
        <textarea placeholder="Your Message" rows="5" required></textarea>
        <button type="submit">Send Message</button>
      </form>

      <div class="socials">

       <a
  href="mailto:shreamhla004@gmail.com"
  class="gmail"
  aria-label="Gmail"
>
  <i class="fab fa-google"></i>
</a>



        <a
          href="https://wa.me/972598850826"
          target="_blank"
          class="whatsapp"
          aria-label="WhatsApp"
        >
          <i class="fab fa-whatsapp"></i>
        </a>

        <a
          href="https://www.linkedin.com/in/hala-shream-halashream/"
          target="_blank"
          class="linkedin"
          aria-label="LinkedIn"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>

        <a
          href="https://github.com/HalaSHream"
          target="_blank"
          class="github"
          aria-label="GitHub"
        >
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</section>
