<section id="home">
  <div class="home-wrapper">

    <!-- LEFT SIDE : TEXT -->
    <div class="home-text">
      <h1>Hala Shream</h1>

      <h3>Software Engineer</h3>

      <p class="welcome-text">
        I build user-friendly and scalable web applications,
        focusing on clean code, intuitive design, and smooth user experiences.
        Always eager to learn, grow, and create meaningful software.
      </p>

      <div class="home-actions">
        <a href="/assets/cv/ShreamHala.pdf" download="Hala_Shreem_CV.pdf" type="application/pdf" class="btn secondary">
          <i class="fas fa-download me-2"></i>
          Download CV
        </a>


      </div>
    </div>

    <!-- RIGHT SIDE : CODE VISUAL -->
    <div class="home-visual">
      <div class="code-box">
        <pre class="typing">
<span class="tag">&lt;h1&gt;</span> Welcome to my portfolio <span class="tag">&lt;/h1&gt;</span>
<br>
<span class="tag">&lt;p&gt;</span> Explore my projects and experience <span class="tag">&lt;/p&gt;</span>
        </pre>
      </div>
    </div>



  </div>
</section>