<section id="skills">
  <h2>My Skills ✨</h2>

  <div class="skills-grid">
    <div class="skill">
       <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-plain.svg"  class="skill-icon">
      C++
    </div>
    <div class="skill">
       <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"    class="skill-icon">
      Java
    </div>
    <div class="skill">
       <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"    class="skill-icon">
      HTML
    </div>
    <div class="skill">
       <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain.svg"  class="skill-icon">
      CSS
    </div>
    <div class="skill">
     <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"   class="skill-icon">
      JavaScript
    </div>

    <div class="skill">
       <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-plain.svg"   class="skill-icon">
      TypeScript
    </div>

    <div class="skill">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"   class="skill-icon">
      Angular
    </div>
    <div class="skill">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" class="skill-icon">
      React
    </div>
    <div class="skill">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" class="skill-icon">
     Bootstrap 
    </div>
    <div class="skill">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg" class="skill-icon">
      Node.js
    </div>
    <div class="skill">
     <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg" class="skill-icon">
      Laravel
    </div>

    <div class="skill">
     <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg" class="skill-icon">
      PHP
    </div>
    <div class="skill">
     <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" class="skill-icon">
      Python
    </div>
    <div class="skill">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/selenium/selenium-original.svg" class="skill-icon">
      Selenium
    </div>
    <div class="skill">
     <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/playwright/playwright-original.svg" class="skill-icon">
      Playwright
    </div>
    <div class="skill">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/junit/junit-original.svg" class="skill-icon">
      JUnit
    </div>

    <div class="skill">
     <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" class="skill-icon">
      Git
    </div>
    <div class="skill">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" class="skill-icon">
      GitHub
    </div>
    <div class="skill">
     <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" class="skill-icon">
      MySQL
    </div>
    <div class="skill">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg" class="skill-icon">
      Postman
    </div>
    <div class="skill">
     <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jenkins/jenkins-original.svg" class="skill-icon">
      Jenkins
    </div>
    <div class="skill">
     <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" class="skill-icon">
      Figma
    </div>
  </div>
</section>
